.loginsignup{
    display: flex;
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top:10px;
}

.loginsignup-container{
    width: 500px;
    height: 400px;
    background: rgb(64, 68, 126);
    margin: auto;
    padding: 40px 60px;
    border-radius: 10px;
 
}

.loginsignup-container h1{
    margin: 20px 0px;
    color: #1d1a1d;   
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
  padding-left: 20px;
  border: 1px solid white;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
}
 
.loginsignup-container button{
    height: 50px;
    width: 500px;
    background: #241e1e;
    margin-top: 30px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.loginsignup input{
    height: 30px;
}

.loginsignup-login{
    margin-top: 20px;
    color: rgb(79, 251, 0);
    font-size: 18px;
    font-weight: 500px;
    
}

.loginsignup-login span{
    margin-top: 20px;
    color:rgb(3, 250, 65);
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
 
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgba(3, 232, 163, 0.532);
    font-weight: 300;
}
@media(max-width:1280px){
    .loginsignup{
        padding-top: 20px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin:10px 0px;
        font-weight: 400;
    }
    .loginsignup-fields{
        gap: 15px;
        margin-top: 10px;
    }
    .loginsignup-fields input{
        height: 60px;
        width: 88%;
        border-radius: 10px;
    }
    .loginsignup-container button{
        width: 96%;
        border-radius: 10px;
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
        margin-top: 1px;
    }
}
@media(max-width:800px){
    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
    }
    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
        
    }
}