.hero{
    height: 100vh;
    background-image: linear-gradient(180deg, #fde1ff, #e1ffea22, 60%);
    display:flex;
    background: #ffefef;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #0055ff;
    font-size:26px;
    font-weight:600;
}

.hero-left p{
    color: rgb(191, 133, 8);
    font-size: 55px;
    font-weight: 700;
 
 
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap:20px;
}

.hero-hand-icon img{
    width: 105px;   
}


.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 70px;
    margin-top: 30px;
    background: #010e135c;
    color: rgb(18, 21, 21);
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.hero-right img{
    flex: 1;
    display:flex;
    align-items: center;
    justify-self: flex-start;
    width: 450px ;
    border-radius: 10%;
    position: relative;
    right: 75px;
}
@media(max-width:1280px){
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font: 22px;
    }
    .hero-right p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        width: 405px;
    }
}
@media(max-width:800px){
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font: 16px;
    }
    .hero-right p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 40px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 175px;
        height: 40px;
        margin-top: 20px;
        font-size: 13px;
    }
    .hero-right img{
        width: 300px;
    }
}
@media(max-width:500px){
    .hero{
        flex-direction:column ;
    
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font: 16px;
        font-weight: 400;
        
    }
    .hero-left p{
        font-size: 40px;
        font-weight: 500;
    }
    .hero-hand-icon img{
        width: 55px;
    }
    .hero-latest-btn{
        width: 170px;
        height: 45px;
        font-size: 13px;
    }
}



 